<!-- purchase_receipt.html.erb #MDM -->
<p>Thanks for buying!</p>


<!--
<a href="https://s3.amazonaws.com/one-month-stripe-payments-0522/Alisons+Cupcakes.jpg"><button type="button" class="btn btn-success btn-xs">DOWNLOAD</button></a>
-->

<%= link_to "Download your ebook", "https://s3.amazonaws.com/one-month-stripe-payments-0522/Alisons+Cupcakes.jpg" %>
